{% extends 'Rango/base.html' %}
{% load staticfiles %}
{% block title %}About Rango{% endblock %}
{% block body_block %}
    <h1>About Rango</h1>
    <strong>Last visit: {{ last_visit }}</strong>
    <p>Hey there! This is me. Really cute!</p>
    <img src="{% static 'images/author_pic.jpg' %}" alt="author's pic">
    <p>and this is my Emily. Love her!</p>
    <img src="{% static 'images/rangos_girlfriend.jpg' %}" alt="Emily">
    <p>here are my cats</p>
    <img src="{{ MEDIA_URL }}cats.jpg" alt="my cats">
{% endblock %}