{% extends 'Rango/base.html' %}
{% block title %}Add Page{% endblock %}
{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    {% if category %}
        <form action="{% url 'rango:add_page' category.slug %}" method="post" id="add_page_form" class="form-signin" role="form">
            <h2 class="form-signin-heading"> Add a Page to <a href="/rango/category/{{category.slug}}/">{{ category.name }}</a></h2>
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
        </form>
    {% else %}
        <strong>This Category doesn't exist!</strong>
    {% endif %}
{% endblock %}
