<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rango</title>
</head>
<body>
<div>
    {% if category %}
        <h1>Add Page</h1>
        <form action="{% url 'rango:add_page' category.slug %}" method="post" id="add_page_form">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Create Page" name="submit">
        </form>
    {% else %}
        <strong>A Category doesn't exist!</strong>
    {% endif %}
</div>
</body>
</html>