{% extends 'Rango/base.html' %}
{% load staticfiles %}
{% block title %}Homepage{% endblock %}
{% block body_block %}
<div>
    <strong>Last visit: {{ last_visit }}</strong>
    {% if user.is_authenticated %}
    <h1>Welcome to Rango, {{ user.username }}!</h1>
    {% else %}
    <h1>Welcome to Rango!</h1>
    {% endif %}
    {% if categories %}
        <h2>Most Liked Categories</h2>
        <ul>
        {% for category in categories %}
            <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are not categories</strong>
    {% endif %}
    {% if top_five_pages %}
        <h2>Most Viewed Pages</h2>
        <ul>
            {% for page in top_five_pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<img src="{% static "images/rangos_girlfriend.jpg" %}" alt="Picture of Rango's girlfriend"/>
{% endblock %}
